      
      html {
        background-color: #f2f4f7;

      }
      
      body {
        margin: 0;
        padding: 0;
        font-family: Poppins;
      }
      .sign-up, .login, #join {
        font-family: Poppins;
        padding: 10px;
      }
      
      .login {
        background-color: #dcdee0;
        border: none;

        
      }
      
      .sign-up, #join {
        	background-color:#0072d5;
        	color: white;
        	border: none;
        	
      }
      
      .sign-up, .login {
				border-radius: 10px;
        margin-right: 5px;
        
      }
      
      
      #logo {
        display: inline-flex;
        margin-left: 20px;
        margin-top: 20px;
      }
      
      #nav-buttons {
        display: inline-flex;
        float: right;
        margin-right: 20px;
        margin-top: 20px;
      }
      
      
      #title {
        
        font-size: 60px;
        display: flex;
        justify-content: left;
        margin-left: 10vw;
				margin-top: 30vh;
      }
      
      #description {
        	font-size: 20px;
       		display: flex;
        	justify-content: left;
        	margin-left: 10vw;

      }
      
      #join {
        	font-size: 20px;
        	margin-left: 10vw;
        	width: 20%;
                border-radius: 30px;
        
      }
      
      a {
        color: white;
        text-decoration: none;
      }
      
      .heading {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-left: 0vw;
      }
      
      .container {
    		width: 50vw;
        margin-left: 20vw;
        padding: 25px;
        border-radius: 20px;
      }
      
      label {
        font-size: 20px;
      }
      
      input {
       	text-decoration: none;
        border-radius: 20px;
        border: none;
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 25vw;
        font-family: Poppins;
        padding: 10px;
      }
      
      .forms {
        text-align: center;
        padding: 10px;
        border-radius: 50px;
      
      }
      
      #register {
       margin-left: 22vw;
      }
      
      #login-reminder {
        display: flex;
        justify-content: center;
        margin-top: 50px;
      }
      
      #login-link {
        	color: #0072d5;
        	display: flex;
        	justify-content: center;
      }
